<% if @movie.errors.any? %>
        <div>
            <p>Errors:</p>
            <ul>
            <% @movie.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>   
        </div>
<% end %>